/ExtractHtmlCssJs.csproj
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/bin/Debug/net8.0/ExportedSite/images/2.jpg
/bin/Debug/net8.0/ExportedSite/images/3.jpg
/bin/Debug/net8.0/ExportedSite/images/5.jpg
/bin/Debug/net8.0/ExportedSite/images/7.jpg
/bin/Debug/net8.0/ExportedSite/images/9.jpg
/bin/Debug/net8.0/ExportedSite/images/11.jpg
/bin/Debug/net8.0/ExportedSite/images/14.jpg
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ExtractH.9C34E0D7.Up2Date
/obj/Debug/net8.0/ExtractHtmlCssJs.AssemblyInfo.cs
/obj/Debug/net8.0/ExtractHtmlCssJs.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ExtractHtmlCssJs.assets.cache
/obj/Debug/net8.0/ExtractHtmlCssJs.csproj.AssemblyReference.cache
/obj/Debug/net8.0/ExtractHtmlCssJs.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/ExtractHtmlCssJs.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/ExtractHtmlCssJs.csproj.FileListAbsolute.txt
/obj/ExtractHtmlCssJs.csproj.nuget.dgspec.json
/obj/ExtractHtmlCssJs.csproj.nuget.g.props
/obj/ExtractHtmlCssJs.csproj.nuget.g.targets
/bin/Debug/net8.0/ExtractHtmlCssJs.deps.json
/bin/Debug/net8.0/ExtractHtmlCssJs.dll
/obj/Debug/net8.0/ref/ExtractHtmlCssJs.dll
/obj/Debug/net8.0/refint/ExtractHtmlCssJs.dll
/obj/Debug/net8.0/ExtractHtmlCssJs.dll
/bin/Debug/net8.0/ExtractHtmlCssJs.exe
/obj/Debug/net8.0/ExtractHtmlCssJs.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/ExtractHtmlCssJs.genruntimeconfig.cache
/obj/Debug/net8.0/ExtractHtmlCssJs.GlobalUsings.g.cs
/bin/Debug/net8.0/ExtractHtmlCssJs.pdb
/obj/Debug/net8.0/ExtractHtmlCssJs.pdb
/bin/Debug/net8.0/ExtractHtmlCssJs.runtimeconfig.json
/bin/Debug/net8.0/HtmlAgilityPack.dll
/bin/Debug/net8.0/ExportedSite/index.html
/bin/Debug/net8.0/ExportedSite/js/jquery.min.js
/bin/Debug/net8.0/ExportedSite/images/logo.png
/bin/Debug/net8.0/ExportedSite/css/plugins.css
/bin/Debug/net8.0/ExportedSite/js/plugins.js
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/bin/Debug/net8.0/ExportedSite/css/reset.css
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net8.0/ExportedSite/js/scripts.js
/bin/Debug/net8.0/ExportedSite/css/style.css
/bin/Debug/net8.0/ExportedSite/css/style-dark.css
